@import "custom"
@import "~bootstrap/scss/bootstrap"

.card-holder
  height: 100%

.card
  display: flex
  flex-direction: column
  justify-content: center
  height: 400px
  padding: 60px
  font-size: 1.4rem
  background: $body-bg
  border: 1px solid $body-color
  &:hover
    cursor: pointer
