@import "custom"
@import "~bootstrap/scss/bootstrap"

.card-holder
  padding-top: 40px


.card
  display: flex
  flex-direction: column
  justify-content: center
  padding: 60px
  background: $body-bg
  font-size: 1.2rem
  border: 1px solid $body-color
  &:hover
    cursor: pointer
  &.back
    color: $body-bg
    background: $body-color
